@import "ressource.css";

* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../picture/TECHNOLOGY\ DESKTOP\ WALLPAPER.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: content-box;
}

.fondhead{
    box-sizing: content-box;
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    animation: tourne3 10s infinite forwards;
    transition: all 2s;
    filter: blur(4);
}

@keyframes tourne3 {
    0%{
       opacity: 0.4;
    }
    25%{
        opacity: 0.6;
    }
    50%{
        opacity: 0.9;
    }
    75%{
        opacity: 0.6;
    }
    100%{
        opacity: 0.4;
    }

}

.contener-titre {
position:sticky;
top:0;
    width: 100%;
    height: 6vh;
    background-color: #13252cab;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
    z-index: 30;

}

.lien-titre {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
    list-style-type: none;

}

.lien-titre a{
    color: #FF9CB6;
    font-size: calc(1vw + 17px);
    font-family: 'Amatic';
}
.lien-titre h1{
    font:calc(1vw + 17px);
    color: white;
    font-family: 'Amatic';
}

.souligne {
    position: relative;

}

.souligne::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: #FF9CB6;
    transition: transform 750ms;
}

.souligne:hover::after {
    transform: translateX(-50%) scaleX(0.8);
}
#neon{
    position: relative;
    width:50px;
    height: 50px;

    box-sizing: border-box;
}
.fa-power-off{
    position: absolute;
    width: calc(1vw + 17px);
    height: auto;
    top:5px;
    right: 0px;
    bottom: 0px;
    font-size: 40px;
    color: white;
}
.fa-power-off.allume{
    animation: allumage 2.5s forwards;
}
#menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5%;
}
.bouton{
    width: 40px;
    animation: pulse 1.5s infinite;
   

}
@keyframes pulse {
    to{
        filter:drop-shadow(0 0 8px white);
    }
    
}

.contener-central {
    width: 80%;
    height: auto;
    margin: 20vh 10%;
}
#nom a {
    text-decoration: none;
    cursor:auto;

}

.contener-cadre {
    position: relative;
    bottom: 300px;
}

.cadre1,
.cadre2 {
    position: relative;
    width: 60%;
    height: 29vh;
    border: 1px solid #ffffff;
}

.cadre1 {

    left: 30%;
    bottom: 50px;
    animation: tourne1 10s infinite;
}

.cadre2 {
    bottom: 200px;
    animation: tourne2 5s infinite;
}

@keyframes tourne1 {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-2deg);
    }

    66% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

@keyframes tourne2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.contener-nom {
    margin-top: 5vh;
}

.contener-central #nom,
.contener-central #prenom {
    position: relative;
    font-family: 'Avant';
    font-size: calc(7vw + 20px);
    color: #FF9CB6;
    text-transform: uppercase;
    height: auto;
    top: 20%;
    left: 5%;
    z-index: 2;
    font-family: 'Abel';
    text-shadow: 0 0 10px rgb(255, 43, 220),
}
.contener-central #nom.allume{
    animation: allumage 2.5s forwards;
}
.contener-central #prenom.allume{
    animation: allumage 2.5s forwards;

}
@keyframes allumage{
    0%{
        text-shadow: 0 0 10px rgb(255, 43, 220),
    0 0 20px rgb(255, 43, 220);
    
    }
    10%{
text-shadow: none;
    }
    20%{
        text-shadow: 0 0 10px rgb(255, 43, 220),
    0 0 20px rgb(255, 43, 220),0 0 40px rgb(255, 43, 220);
    
    }
    30%{
text-shadow: none;
    }
    50%{
        text-shadow: 0 0 10px rgb(255, 43, 220),
    0 0 20px rgb(255, 43, 220), 0 0 80px rgb(255, 43, 220);
    
    }
    60%{
        text-shadow: none;
            }
    100%{
        text-shadow: 0 0 10px rgb(255, 43, 220),
        0 0 20px rgb(255, 43, 220),
        0 0 40px rgb(255, 43, 220),
        0 0 80px rgb(255, 43, 220),
        0 0 120px rgb(255, 43, 220),
        0 0 140px rgb(255, 43, 220);;
    }

}
.contener-central #nom {
    text-align: center;
}

.contener-central #prenom {
    top: 0px;
}

header .texte {
    position: absolute;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    bottom: 6.5vh;
    font-family: 'Amatic';
    color: #fcfcfcd0;
    font-size: calc(2vw + 30px);
}

@media screen and (max-width:1056px) {

    .cadre1 {
        top: 70px;
    }

    #menu {
        margin-left: 0%;
    }

}

@media screen and (max-width:772px) {
    .cadre1 {
        top: 100px;
    }

    .lien-titre {
        width: 65%;
    }

}

@media screen and (max-width:420px) {
    .cadre1 {
        top: 120px;
    }
    .lien-titre {
        width: 90%;
    }
    .fa-power-off{
        right: 20px;
    }

}

#bulle {
    transition: .7s ease-in-out;
    width: 30px;
    height: auto;
    border-radius: 20px;
    position: fixed;
    z-index: 3;
    bottom: 80px;
    left: 10px;

}
.fa-message{
    position: absolute;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 30px;
    transition: 1.7s ease-in-out;
}

.fa-message:hover {
    transform: scale(1.5);
}

#dialog {
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: min(600px, 100%);
    height: auto;
    border: 2px solid;
    background-color: #000000;
    z-index: 4;
    border-radius: 10px;
    padding: 10px;
}

#bclose {
    text-transform: uppercase;
    margin: 10px;
    color: rgb(255, 255, 255);
}
.champ{
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Amatic'; 
    font-size: 1.1em; 
    color: rgb(255, 255, 255); 
    font-weight: 500;
}
#grid input{
    border-bottom: 1px solid;
    margin: 7px 5px 0 10px;
    text-decoration: none;
    background-color: #000000;
    font-family: 'Amatic';

}
.part3{
    display: block;
}
#bouton{
    border: 1.5px solid white;
    color: #ffffff;
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    transition: transform 0.25s;
}
#bouton:hover{
    transform: scale(1.02);
}
