@import "ressource.css";

* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../picture/TECHNOLOGY\ DESKTOP\ WALLPAPER.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 99vh;
    overflow: hidden;
    box-sizing: content-box;
}

.fondhead{
    box-sizing: content-box;
    position: absolute;
    width: 98vw;
    height: 95vh;
    object-fit: cover;
    animation: tourne2 6s infinite;
    opacity: 0.4;
    margin: 2vh 0vw;
    filter: blur(4px);
}

@keyframes tourne1 {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-2.5deg);
    }

    66% {
        transform: rotate(2.5deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.contener-titre {
    position: sticky;
    top: 0;
    padding: 7px 0;
    width: 100%;
    height: 6vh;
    background-color: #13252cbd;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;

}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

li {
    color: #FF9CB6;
    font-size: calc(1vw + 25px);
    padding: 0 1.7vw;
    font-family: 'Amatic';
}

.souligne {
    position: relative;

}

.souligne::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: #FF9CB6;
    transition: transform 750ms;
}

.souligne:hover::after {
    transform: translateX(-50%) scaleX(0.8);
}

#menu {
    margin-left: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    cursor: pointer;
}

.contener-central {
    width: 80%;
    height: auto;
    margin: 20vh 10%;
}

.contener-cadre {
    position: relative;
    bottom: 300px;
}

.cadre1,
.cadre2 {
    position: relative;
    width: 60%;
    height: 29vh;
    border: 1px solid #ffffff;
}

.cadre1 {

    left: 30%;
    bottom: 50px;
    animation: tourne1 10s infinite;
}

.cadre2 {
    bottom: 200px;
    animation: tourne2 5s infinite;
}

@keyframes tourne1 {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-2deg);
    }

    66% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

@keyframes tourne2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.contener-nom {
    margin-top: 5vh;
}

.nom,
.prenom {
    position: relative;
    font-family: 'Avant';
    font-size: calc(7vw + 20px);
    color: #FF9CB6;
    filter: drop-shadow(-0px -0px 9px rgb(255, 43, 220));
    text-transform: uppercase;
    height: auto;
    top: 20%;
    left: 5%;
    z-index: 2;
    font-family: 'Abel';
}

.nom {
    text-align: center;
}

.prenom {
    top: 0px;
}

header .texte {
    position: absolute;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    bottom: 6.5vh;
    font-family: 'Amatic';
    color: #fcfcfcd0;
    font-size: calc(2vw + 30px);
}

@media screen and (max-width:1056px) {

    .cadre1 {
        top: 70px;
    }

    #menu {
        margin-left: 40%;
    }

}

@media screen and (max-width:772px) {
    .cadre1 {
        top: 100px;
    }

    #menu {
        margin-left: 20%;
    }

}

@media screen and (max-width:420px) {
    .cadre1 {
        top: 120px;
    }

    .menu {
        margin-left: 2%;
    }

}

#bulle {
    transition: .7s ease-in-out;
    width: 30px;
    height: auto;
    border-radius: 20px;
    position: sticky;
    z-index: 3;
    bottom: 40px;
    left: 10px;

}

.fa-solid {
    position: absolute;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 30px;
    transition: 1.7s ease-in-out;
}

.fa-solid:hover {
    transform: scale(1.5);
}

#dialog {
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: min(600px, 100%);
    height: auto;
    border: 2px solid;
    background-color: #ffffff;
    z-index: 4;
    border-radius: 10px;
    padding: 10px;
}

#bclose {
    text-transform: uppercase;
    margin: 10px;
    color: rgb(0, 0, 0);
}
.champ{
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Amatic'; 
    font-size: 1.1em; 
    color: black; 
    font-weight: 500;
}
#grid input{
    border-bottom: 1px solid;
    margin: 7px 5px 0 10px;
}
.part3{
    display: block;
}
#bouton{
    display: block;
    border: 2px solid;
    padding: 5px;
}