.contener-presentation {
    background: black;
    height: 100%;
    overflow: hidden;
    box-sizing: content-box;
}

.fond1 {
    margin: 0;
    padding: 0;
    height: 100%;
}

.presentation {
    position: absolute;
    bottom: 0px;
    top: 1100px;
    width: 85%;
    height: 55vh;
    margin-left: 7%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 0.2px solid rgba(255, 255, 255, 0.404);
    border-radius: 5px;
    background-color: rgba(255, 235, 205, 0.13);
    box-shadow: 1px 1px 5px 3.25px rgb(255, 68, 193), 1px 1px 6px 4.25px rgb(255, 24, 224);
}

.presentation img {
width: 450px;
    min-width: 250px;
    opacity: 0.9;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;

}

.presentation p {    
    margin: 0 0 0 0;
    width:calc(40vw + 15px);
    flex: 0 0 50%;
    height: 50vh;
    color: beige;
    font-size: calc(1vw + 10px);
    text-align: justify;
    box-sizing: border-box;
    text-shadow: 0 0 6px rgb(0, 0, 0);
    
}
.fa{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width:calc(40vw + 15px);
    box-sizing: content-box;    
}
.fa-brands{
    font-size: calc(3vw + 15px);
    color: beige;
    

}
@media screen and (max-width:1090px){
    .presentation{
        width: 65%;
        margin-left: 17%;
        height: 85vh;
        flex-direction: column;
        flex-wrap: nowrap;
        top: 900px;
    }
    .presentation img{
        margin: 10px 0 10px 10%;
        width: 80%;
        height: 60%;
    }
    .presentation p{
       flex: 0 0 20%;
       width: 80%;
       margin-left: 10%;
    }
    .fa{
        width: 90%;
        margin-left: 5%;
     }
}
@media screen and (max-width:673px){
        .presentation{
            min-width: 60%;
            margin-left: 20%;
        }
}
@media screen and (max-width:523px){
    .presentation{
        min-width: 100%;
        margin-left: 0;
        border-left: 0ch;
        border-right: 0;
        border-radius: 0;
    }
}