.contener-projet{
    width: 99vw;
    height: 100vh;
   background-image: url('/picture/fond2.png');
    box-shadow: 0px 0px 19px 9px #000000;
}

.projet{
    position: absolute;
    width: 90%;
    height: 60%;
    margin: 10% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: radial-gradient(circle, #8d1c657c 4%,rgba(0, 0, 0, 0.521) 56%);
    box-shadow: 0 0 16px purple;
}

.cercle{
    margin-top: 5%;
    border-radius: 50%;
    width: 22%;
    height: 70%;
    background-image: url('/picture/projet.png');
    background-size: 250%;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 16px purple);
    transition: 4s cubic-bezier(0.035, 0.82, 0.165, 1);
    
}
.cercle img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
    transform: scale(7);
    filter: drop-shadow(0 0 16px rgb(255, 255, 255));
    
  }


  .part{
      width: 10vw;
      height: 50vh;
      border: 2px solid blue;
      transition: 4s cubic-bezier(0.035, 0.82, 0.165, 1);
  }
  .ailleurs, .note{
      margin-top: 9vh;
  }
  .jadoo, .fromhere{
      margin-top: 1vh;
  }
  .cercle:active{
      transform: rotate(360deg);
  }

