#contener-projet{
    width: 99vw;
    height: auto;
   background-image: url('/picture/fond2.png');
    box-shadow: 0px 0px 19px 9px #000000;
    padding: 2.5vh 2.5vw;
    overflow: hidden;
}

.projet{
    width: 95vw;
    height:95vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.block{
    width: 430px;
    height: auto;
    padding-bottom: 7vh;
    text-align: center;
    box-shadow: 0 0 6px #000000;
    cursor: pointer;
    transition: all 0.75s ;
    overflow:hidden;
}



.block:hover{
    transform: scale(1.05);
    box-shadow: 0 0 6px rgba(128, 0, 128, 0.575);
} 

.JO{
    background-color: #881d54c7;

}
.AS{
    background-color: #66143dc7;
}
.NE{
    background-color: #3d0b24c7;
}
.FH{
    background-color: #2e081bc7;
}
.JO h1{
    font-family: 'Times New Roman', Times, serif;
}
.AS h1{
    font-family: 'ingrid';
}
.NE h1{
    font-family: 'great';
}
#NE{
    width: 430px;
    height: 20vh;
    text-align: center;
    box-shadow: 0 0 6px #000000;
    cursor: pointer;
    transition: all 0.75s ;
    overflow:hidden;
    
    
    }
    #NE.visible{
    height: auto;
    }
#note{
    opacity: 0;
    transition: all 0.5s;
}
#note.visible{
    opacity: 1;
    width: 95%;
    text-align: center;
}
#JO{
    width: 430px;
    height: 20vh;
    text-align: center;
    box-shadow: 0 0 6px #000000;
    cursor: pointer;
    transition: all 0.75s ;
    overflow:hidden;
    
    }
    #JO.visible{
    height: auto;
    }
#jadoo{
    opacity: 0;
    transition: all 0.5s;
}
#jadoo.visible{
   opacity: 1;
    width: 95%;
    text-align: center;
}
#AS{
    width: 430px;
    height: 20vh;
    text-align: center;
    box-shadow: 0 0 6px #000000;
    cursor: pointer;
    transition: all 0.75s ;
    overflow:hidden;
    
    }
    #AS.visible{
    height: auto;
    }
#ailleurs{
    opacity: 0;
    transition: all 0.5s;
}
#ailleurs.visible{
    opacity: 1;
    width: 95%;
    text-align: center;
}
#FH{
    width: 430px;
    height: 20vh;
    text-align: center;
    box-shadow: 0 0 6px #000000;
    cursor: pointer;
    transition: all 0.75s ;
    overflow:hidden;
    
    }
    #FH.visible{
    height: auto;
    }
#fromhere{
    opacity: 0;
    transition: all 0.5s;
}
#fromhere.visible{
    opacity: 1;
    width: 95%;
    text-align: center;
}
.projet h1{
    color: white;
    padding-top: 13%;
    font-size: calc(1vw + 35px);
    
}
.projet p{
    font-family: 'poppins';
    color: white;
    line-height: 18px;
    
}
.cercle{
    position: absolute;
    width: 30%;
    height: 30%;
    background-image: url('/picture/projet.png');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 32.5%;
    z-index: 10;
    transition: all 8s;
}
.cercle:hover{
    transform: rotate(360deg);
}
.boussole{
    margin-left: 7%;
    margin-top: 0%;
    height: 200px;
    width: 250px;
}
@media screen and (max-width:1478px) {
    .cercle{
        display: none;
    }
    
}
.projet button{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid white;
    color: white;
    background-color: #00000000;
    text-transform: uppercase;
    border-radius: 3px;
}
.projet button:hover{
    border: 1px solid black;
    background-color: white;
    color: #000000;
}

  #conteneradeplier{
      position: absolute;
    width: 100vw;
    height: 50px;
    background-color: #DE38A4;
    transform: translateX(100vw);
    transition-duration: 2s;
    z-index: 20;
    
  }
  #conteneradeplier.visible{
    transform: translateX(-0vw);
  }
  #dedans{
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    transition-duration: 2s;
    transition-delay: 2s;
  }
  #dedans.visible{
    height: 80vh;
  }


