#contener-projet{
    width: 100vw;
    height: auto;
   background-image: url('/picture/fond2.png');
    box-shadow: 0px 0px 19px 9px #000000;
    padding: 2.5vh 2.5vw;
    overflow: hidden;
}
#conteneradeplier{
    position: absolute;
  width: 98vw;
  height: 50px;
  background-color: #f19fd5;
  transform: translateX(-102vw);
  transition-duration: 1s;
  z-index: 20;
  visibility: hidden;
  
}
#conteneradeplier.visible{
  transform: translateX(-2vw);
  visibility: visible;
}
#dedans{
  width: 98vw;
  height: 50px;
  background-color: rgb(255, 255, 255);
  transition-duration: 1s;
  transition-delay: 1.5s;
  overflow: hidden;
  visibility: hidden;
}
#dedans.visible{
  height: 90vh;
  visibility: visible;
}

.projet{
    width: 95vw;
    height:95vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.block{
    width: 430px;
    height: 20vh;
    padding-bottom: 7vh;
    text-align: center;
    box-shadow: 0 0 6px #000000;
    cursor: pointer;
    transition: all 0.75s ;
    overflow:hidden;
}
    .block.visible{
    height: auto;
}
.depli{
    opacity: 0;
    transition: all 0.5s;
}
.depli.visible{
    opacity: 1;
    width: 100%;
    text-align: center;
    padding: 0 1%;
}

.block:hover{
    transform: scale(1.05);
    box-shadow: 0 0 6px rgba(128, 0, 128, 0.575);
} 

.block:nth-child(1){
    background-color: #881d54c7;

}
.block:nth-child(2){
    background-color: #66143dc7;
}
.block:nth-child(3){
    background-color: #3d0b24c7;
}
.block:nth-child(4){
    background-color: #2e081bc7;
}
.block:nth-child(1)  h1{
    font-family: 'Times New Roman', Times, serif;
}
.block:nth-child(3) h1{
    font-family: 'ingrid';
}
.block:nth-child(2) h1{
    font-family: 'great';
}
.block.allume{
    animation: allumage2 2.5s forwards;

}
@keyframes allumage2{
    0%{
        text-shadow: 0 0 10px rgb(255, 43, 220),
    0 0 20px rgb(255, 43, 220);
    
    }
    10%{
text-shadow: none;
    }
    20%{
        text-shadow: 0 0 10px rgb(255, 43, 220),
    0 0 20px rgb(255, 43, 220),0 0 40px rgb(255, 43, 220);
    
    }
    30%{
text-shadow: none;
    }
    50%{
        text-shadow: 0 0 10px rgb(255, 43, 220),
    0 0 20px rgb(255, 43, 220), 0 0 80px rgb(255, 43, 220);
    
    }
    60%{
        text-shadow: none;
            }
    100%{
        text-shadow: 0 0 10px rgb(255, 43, 220),
        0 0 20px rgb(255, 43, 220),
        0 0 40px rgb(255, 43, 220),
        0 0 80px rgb(255, 43, 220),
        0 0 120px rgb(255, 43, 220),
        0 0 140px rgb(255, 43, 220);;
    }

}

.projet h1{
    color: white;
    padding-top: 13%;
    font-size: calc(1vw + 35px);
    
}
.projet p{
    font-family: 'poppins';
    color: white;
    line-height: 18px;
    margin-left: auto;
    
}
.cercle{
    position: absolute;
    width: 30%;
    height: 30%;
    background-image: url('/picture/projet.png');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 32.5%;
    z-index: 10;
    transition: all 8s;
}
.cercle:hover{
    transform: rotate(36000deg);
}
.boussole{
    margin-left: 7%;
    margin-top: 0%;
    height: 200px;
    width: 250px;
}
@media screen and (max-width:1678px) {
    .cercle{
        display: none;
    }
    #contener-projet{
        overflow: hidden;
    }
    
}
.projet button{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid white;
    color: white;
    background-color: #00000000;
    text-transform: uppercase;
    border-radius: 3px;
}
.projet button:hover{
    border: 1px solid black;
    background-color: white;
    color: #000000;
}

 


