* {
    color: inherit;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;

    text-decoration: none;
    list-style-type: none;

    background: none;
    appearance: none;
    box-sizing: border-box;

    padding: 0;
    border: 0;
    margin: 0;


}
body{
    overflow: hidden;
}

@font-face {
    font-family: 'Abel';
    src: url("../font/Abel-Regular.ttf");
}
@font-face {
    font-family: 'Amatic';
    src: url("../font/AmaticSC-Regular.ttf");
}
@font-face {
    font-family: 'Avant';
    src: url("../font/a_avantetitulinline_[fr.allfont.net].ttf");
}
@font-face {
    font-family: 'poppins';
    src: url("/font/poppins-regular.woff"),
    url("/font/poppins-regular.woff2");
}
@font-face {
    font-family: 'ingrid';
    src: url("/font/IngridDarling-Regular.ttf");
}
@font-face {
    font-family: 'great';
    src: url("/font/GreatVibes-Regular.ttf");
}