@import "ressource.css";

* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(/picture/TECHNOLOGY\ DESKTOP\ WALLPAPER.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 99vh;
    overflow: hidden;
    box-sizing: content-box;
}
header img{
    box-sizing: content-box;
    position: absolute;
    width: 98vw;
   height: 95vh;
    object-fit: cover;
    animation: tourne2 6s infinite;
    opacity: 0.4;
     margin: 2vh 0vw; 
}
@keyframes tourne1 {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-2.5deg);
    }
    66%{
        transform: rotate(2.5deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.contener-titre {
    position: sticky;
    top: 0;
    padding: 7px 0;
    width: 100%;
    height: 6vh;
    background-color: #13252cbd;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;

}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

li {
    color: #FF9CB6;
    font-size: calc(1vw + 25px);
    padding: 0 1.7vw;
    font-family: 'Amatic';
}
.souligne {
    position: relative;

  }
  .souligne::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: #FF9CB6;
    transition: transform 750ms;
  }
  .souligne:hover::after {
    transform: translateX(-50%) scaleX(0.8);
  }

.menu {
    margin-left: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid white;
}

.contener-central {
    width: 80%;
    height: auto;
    margin: 20vh 10%;
}

.contener-cadre {
    position: relative;
    bottom: 300px;
}

.cadre1,
.cadre2 {
    position: relative;
    width: 60%;
    height: 29vh;
    border: 1px solid #ffffff;
}

.cadre1 {

    left: 30%;
    bottom: 50px;
    animation: tourne1 10s infinite;
}

.cadre2 {
    bottom: 200px;
    animation: tourne2 5s infinite;
}

@keyframes tourne1 {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-2deg);
    }
    66%{
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }

}

@keyframes tourne2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.contener-nom {
    margin-top: 5vh;
}

.nom,
.prenom {
    position: relative;
    -webkit-text-stroke: 2.1px #fdb4c7;
    font-size: calc(7vw + 20px);
    color: #13252c00;
    text-transform: uppercase;
    height: auto;
    top: 20%;
    left: 5%;
    z-index: 2;
    font-family: 'Abel';
}

.nom {
    text-align: center;
}

.prenom {
    top: 0px;
}
header .texte{
    position: absolute;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    bottom: 6.5vh;
    font-family: 'Amatic';
    color: #fcfcfcd0;
    font-size: calc(2vw + 30px);
}

@media screen and (max-width:1056px) {
    
.cadre1{
    top: 70px;
}
    .menu {
        margin-left: 40%;
    }

}

@media screen and (max-width:772px) {
    .cadre1 {
        top: 100px;
    }

    .menu {
        margin-left: 20%;
    }

}

@media screen and (max-width:420px) {
    .cadre1 {
        top: 120px;
    }

    .menu {
        margin-left: 2%;
    }

}
.bulle{
    transition: .7s ease-in-out;
    width:94px;
    height: auto;
    border-radius: 20px;
    position: sticky;
    z-index: 3;
    bottom:40px;
    left: 10px;

}
.fa-solid{
    position: absolute;
    cursor: pointer;
    color: white;  
    font-size: 30px;
    margin-left: 5px;
    transition: .7s ease-in-out; 
    border-radius: 20px;
}
.fa-solid:hover{
    transform: scale(1.5);
}
/* .fa-circle-xmark{
    opacity: 0;
}

.fa-circle-xmark_open{
   opacity: 1;
   transform: rotate(1080deg);
    transition-duration: 0.7s;
} */