main{

    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
scroll-snap-type: y mandatory;
}
section{
    height: 100%;
    width: 100%;
    scroll-snap-align: center;
    position: relative;
}
section:nth-of-type(4n) {
    height: 20vh;
  }

